In [1]:
from collections import Counter
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', 100)
pd.set_option('display.max_rows', 30)

In [2]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir)

In [3]:
from statistic import Statistic
from utils import UtilsKy
from analyzer import HelperAnalyzer, AnalyzerPrediction
from reputation import Reputation

In [4]:
from datetime import datetime, timedelta

In [5]:
# for autoreload modules
%load_ext autoreload
%autoreload 2

In [22]:
# kyw3
path_data = '/mnt/files/workdata/work/merchants/merchant_33_kyw3_2020-06-05/02_pure_data/'
df = pd.read_csv(path_data + 'kyw3_for_resolve.csv', dtype=str)

In [23]:
df.head()

,order_id,type,status,date,processed,amount,currency,card_holder,email,phone,...,ip,project_id,reported,status_chargeback,date_cb_only,card_masked,card_expire,amount_in_currency,date_only,id
0,49219577955111383,charge,false,2019-11-20 09:39:36,2019-11-20 09:39:41,1.00,USD,Gabriele Markes,gabriele@markes.com,5556789364528,...,84.56.163.85,1a92804aa92f2a762361fcd2b6cc0794360b23bd,NaN,refunded,2019-11-20,547087******1680,2022-04,1.00,2019-11-20,547087******1680_2022-04
1,49221760925063337,charge,false,2019-11-20 12:01:43,2019-11-20 12:01:50,25.00,USD,Malia Gusman,560100032720@4null.com,8086510074,...,204.210.126.255,1a92804aa92f2a762361fcd2b6cc0794360b23bd,NaN,charged,2019-11-20,517148******7320,2023-04,25.00,2019-11-20,517148******7320_2023-04
2,49224688788195598,charge,false,2019-11-20 15:12:20,2019-11-20 15:12:24,21.18,USD,Stephen Gordy,560536900411@4null.com,7406005440,...,99.203.145.83,1a92804aa92f2a762361fcd2b6cc0794360b23bd,NaN,charged,2019-11-20,546540******9404,2023-07,21.18,2019-11-20,546540******9404_2023-07
3,49224696921328680,charge,false,2019-11-20 15:12:52,2019-11-20 15:12:55,200.00,USD,Nicholas Saephanh,560131190505@4null.com,5102929855,...,69.181.49.246,9ffa75299b6caaa89457fb07db86f47f8fb8198a,NaN,charged,2019-11-20,510805******1186,2023-03,200.00,2019-11-20,510805******1186_2023-03
4,49224839756465248,charge,false,2019-11-20 15:22:10,2019-11-20 15:22:13,2.38,USD,Thiago Fernandes,550322045766@4null.com,21994891341,...,179.158.244.208,1a92804aa92f2a762361fcd2b6cc0794360b23bd,NaN,charged,2019-11-20,544731******7316,2026-07,2.38,2019-11-20,544731******7316_2026-07

In [24]:
reputation = Reputation(df)

In [25]:
df_reputation = reputation.create_reputation_factors()

In [27]:
col_names = list(df_reputation)

In [28]:
if 'index' in col_names:
    col_names.remove('index')

In [29]:
if 'line_num' in col_names:
    col_names.remove('line_num')

In [30]:
for col in col_names:
    df[col] = df_reputation[col].values

In [31]:
df.head()

,order_id,type,status,date,processed,amount,currency,card_holder,email,phone,...,id,n_previous,n_grey,n_bad,is_quick,is_new,n_today,delta_sec,delta_days,amount_dev
0,49219577955111383,charge,false,2019-11-20 09:39:36,2019-11-20 09:39:41,1.00,USD,Gabriele Markes,gabriele@markes.com,5556789364528,...,547087******1680_2022-04,0,0,0,-1,1,0,-1,-1,-1
1,49221760925063337,charge,false,2019-11-20 12:01:43,2019-11-20 12:01:50,25.00,USD,Malia Gusman,560100032720@4null.com,8086510074,...,517148******7320_2023-04,0,0,0,-1,1,0,-1,-1,-1
2,49224688788195598,charge,false,2019-11-20 15:12:20,2019-11-20 15:12:24,21.18,USD,Stephen Gordy,560536900411@4null.com,7406005440,...,546540******9404_2023-07,0,0,0,-1,1,0,-1,-1,-1
3,49224696921328680,charge,false,2019-11-20 15:12:52,2019-11-20 15:12:55,200.00,USD,Nicholas Saephanh,560131190505@4null.com,5102929855,...,510805******1186_2023-03,0,0,0,-1,1,0,-1,-1,-1
4,49224839756465248,charge,false,2019-11-20 15:22:10,2019-11-20 15:22:13,2.38,USD,Thiago Fernandes,550322045766@4null.com,21994891341,...,544731******7316_2026-07,0,0,0,-1,1,0,-1,-1,-1